@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    padding: 0px;
    margin: 0px;
    background-color: aqua;
    overflow-x: hidden;
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    outline: none;
}