li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

li#section:hover {
    background: linear-gradient(90deg,  rgba(255, 255, 255, 0.15) -7.41%, rgba(255, 255, 255, 0) 38.5%);
}

li#section:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: #0E284F;
    width: 70px;
    height: 100%;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.sidebar.expanded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: #0E284F;
    width: 228px;
    height: 100%;
}