li {
    position: relative
}

li:hover {
    background: linear-gradient(90deg,  rgba(255, 255, 255, 0.15) -7.41%, rgba(255, 255, 255, 0) 38.5%);
}

li:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}