.menus-li {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    gap: 13.5px
}

.menus-li:hover {
    position: relative;
    background: linear-gradient(90deg,  rgba(255, 255, 255, 0.15) -7.41%, rgba(255, 255, 255, 0) 26.95px);
}

.menus-li:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@keyframes sidebar-expand{
  0% {
    opacity: 0;
    color: aqua;
  }
  50% {
    opacity: 0.5;
    color: aquamarine;
  }
  100% {
    opacity: 1;
    color: black;
    
  }
}