// .sidebar_bottom.animate {
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 17px;
//     text-decoration-line: underline;
//     color: #FFFFFF;
//     position: absolute;
//     left: 63.5px;
//     top: 10.5px;
//     pointer-events: none;
//     white-space: nowrap;
//     animation: sidebar-link 0.3s ease forwards;
// }

.menus-li {
    position: relative;
    height: 40px;
    width: 100%;
}

.menus-li:hover {
    background: linear-gradient(90deg,  rgba(255, 255, 255, 0.15) -7.41%, rgba(255, 255, 255, 0) 26.95px);
}

.menus-li:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@keyframes sidebar-link{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}